/* TODO
more refined typography
look for blog about housestyle
*/

// Imports
@import "variables";
@import "bootstrap";

/* TODO Consider only importing the parts that I need
@import "bootstrap/mixins";
@import "bootstrap/alerts";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/responsive-utilities";
*/

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

h1 {
  font-family: 'Oswald', sans-serif;
}

header {
  text-align: center;
  margin-bottom: 6em;
  nav {
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-left: 5px;
        margin-right: 5px;
        display: inline;
      }
    }
  }
}

.post {
  img {
    width: 100%;
  }
}

/* POSTS */
#posts {
  ul {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 4em;
    }
  }
}
