/* TODO
more refined typography
look for blog about housestyle
*/

// Imports
@import "variables";
@import "bootstrap";

/* TODO Consider only importing the parts that I need
@import "bootstrap/mixins";
@import "bootstrap/alerts";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/responsive-utilities";
*/

.post {
  img {
    width: 100%;
  }
}


/* Responsive navigation */
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
