---
layout: main
---
<div class="row">
    <header>
      {% if site.title %}<h1><span class="glyphicon glyphicon-list-alt"></span> {{ site.title }} <span class="blink">|</span></h1>{% endif %}
      {% if site.description %}<p>{{ site.description }}</p>{% endif %}
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
      {{ content }}
    </div>
    <div class="col-sm-2">
      <img src="https://lh4.ggpht.com/8w5rhmn-M8IKcoktSlyKjXLUt5ABPwA8DVcPMz2JpzVc89kdJyntWb-RttwuurauryMR4lH3vw=w160" alt="placeholder" />

      <!-- TODO Featured post -->
      <h4>Featured post</h4>

      <!-- TODO Register "related posts" loop -->
      <h4>Related posts</h4>

      <h4>Recent post</h4>
      {% for post in site.posts limit:1 %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
</div>

<footer>
</footer>
